<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_calculate"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogicLab"
        tools:targetApi="31">
        <activity
            android:name=".Authorization.LoginActivity"
            android:exported="true"
            android:label="Logic Lab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authorization.LoginedActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="true"
            android:label="Личный кабинет"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".GameMemory.MemoryGame"
            android:exported="true"
            android:label="Тренируем память" />

        <activity
            android:name=".GameMath.MathGameActivity"
            android:exported="true"
            android:label="Математический турнир" />

        <activity
            android:name=".GamePlusMinus.PlusMinusGameActivity"
            android:exported="true"
            android:label="Плюс минус"/>

        <activity android:name=".GameAsteroid.GameAsteroidActivity"
            android:exported="true"
            android:label="Берегись астероида"/>
        <activity android:name=".GameBall.GameBallActivity"
            android:exported="true"
            android:label="Мячик"/>

        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="Меню игр"/>
    </application>

</manifest>